<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calc_peso_planetas_app"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="My Application"
        android:icon="@drawable/app_icon"
        tools:replace="android:label, android:icon">

        <!-- Activities, services, receivers, etc. -->

    </application>

</manifest>
